* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #242424;
  color: white;
}

input {
  background-color: darkgray;
  padding: 6px;
  border-radius: 8px;
  text-indent: 4px;
}

.primary-button {
  border-radius: 8px;
  padding: 8px 12px;
}

.calculated-results-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  gap: 8px;
}

.app-main-message {
  margin: 24px;
  line-height: 1.3;
}
